header {
  background-color: var(--primary);
  height: 4rem;
  display: flex;
  align-items: center;
}

.header-nav {
  margin-left: 8.12rem;
}

.header-text {
  text-decoration: none;
  color: var(--greyscale-1);
  font-size: var(--title-size);
  font-weight: 800;
  line-height: 2.25rem;
}

footer {
  background-color: var(--greyscale-2);
  height: 5rem;
  border-top: 1px solid rgba(78, 91, 166, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text {
  color: var(--primary);
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.07813rem;
}
